<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="index3.html" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Acercade...</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link" (click)="cerrarSession()">Salir...</a>
    </li>
  </ul>
  
  <!-- <div class="form-group">
    <label style="color:white;">Sucursales:</label>
    <select  class="form-control" [(ngModel)]="sucursalId" (change)="onCambioEmpresa($event.target.value)"  style="width: 100%;">
      <option  value="" >[*Seleccione una sucursal]</option>
      <option  value="{{suc.Id}}" *ngFor="let suc of sucursales">{{suc.Id}}--{{suc.Descripcion}}</option>
    </select>
  </div> -->
  <!-- SEARCH FORM -->
    <div class="input-group input-group-sm">
      <div class="col-6">
        <select  class="form-control" [(ngModel)]="sucursalId" (change)="onCambioEmpresa($event.target.value)">
          <option  value="" >[*Seleccione una sucursal]</option>
          <option  value="{{suc.Id}}" *ngFor="let suc of sucursales">{{suc.Id}}--{{suc.Descripcion}}</option>
        </select>
      </div>
    </div>
</nav>